<li class="card bg-dark-subtle border-dark-subtle rounded-3 mb-5 mx-3 " style="max-width: 250px; min-width: 250px; min-height: 440px; max-height: 500px">
    <div class="card-header card-img-top rounded-top-3 p-0">
        <a href="{{ path('app_service_show', {id: service.id}) }}">
            <h3 class="text-white z-1 position-absolute w-100" style="top: 45px;">{{ service.name }}</h3>
            {% if service.getImageServices is not empty %}
            <img style="width: 100%; height: 150px; filter: brightness(80%);" class="d-block w-100 p-0 rounded-top-3 object-fit-cover"   alt="{{ service.name }}" src="{{ asset("media/uploads/" ~ service.getImageServices[0].filename|url_encode) }}">
            {% endif %}
        </a>
    </div>
    <div class="h3 mt-2">
        <span class="">{{ service.price }} €</span>
    </div>
    <div class="card-body h-auto carItem text-center rounded-bottom-3 overflow-y-hidden">
        <div class="">
            <p class="text">{{ service.description }}</p>
        </div>
    </div>
</li>