<form id="filters-form" class="d-flex justify-content-center flex-column flex-lg-row px-5 pb-5">
    <div class="mileage mx-1">
        <div class="mileage-label">
            <label class="form-label">Kilométrage</label>
        </div>
        <div class="input-group">
            <input name="mileage-min" class="bg-primary-subtle form-control" id="mileage-min" type="number" step="500" value="{{ queryParams['minMileage'] }}" min="{{ minMaxValues['minMileage'] }}" initialValue="{{ minMaxValues['minMileage'] }}">
            <input name="mileage-max" class="bg-primary-subtle form-control" id="mileage-max" type="number" step="500" value="{{ queryParams['maxMileage'] }}" max="{{ minMaxValues['maxMileage'] }}" initialValue="{{ minMaxValues['maxMileage'] }}">

        </div>
    </div>
    <div class="price mx-1">
        <div class="price-label">
            <label class="form-label">Echelle de prix</label>
        </div>
        <div class="input-group">
            <input name="price-min" class="bg-primary-subtle form-control" id="price-min" type="number" step="500" value="{{ queryParams['minPrice'] }}" min="{{ minMaxValues['minPrice'] }}" initialValue="{{ minMaxValues['minPrice'] }}">
            <input name="price-max" class="bg-primary-subtle form-control" id="price-max" type="number" step="500" value="{{ queryParams['maxPrice'] }}" max="{{ minMaxValues['maxPrice'] }}" initialValue="{{ minMaxValues['maxPrice'] }}">
        </div>
    </div>
    <div class="year mx-1">
        <div class="year-label">
            <label class="form-label">Année</label>
        </div>
        <div class="input-group">
            <input name="year-min" class="bg-primary-subtle form-control" id="year-min" type="number" value="{{ queryParams['minYear'] | date('Y') }}" min="{{ minMaxValues['minYear'] | date('Y') }}" initialValue="{{ minMaxValues['minYear'] | date('Y')}}">
            <input name="year-max" class="bg-primary-subtle form-control" id="year-max" type="number" value="{{ queryParams['maxYear'] | date('Y') }}" max="{{ minMaxValues['maxYear'] | date('Y') }}" initialValue="{{ minMaxValues['maxYear'] | date('Y')}}">
        </div>
    </div>
    <div class="mx-1 m-3 m-lg-0 align-self-lg-end align-self-center">
        <button id="filters-btn-reset" type="reset" class="btn btn-dark">Réinitialiser</button>
    </div>
</form>
